@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

#app-header {
    width: 100%;
    height: 60px !important;
    position: absolute;
    top: 0px;
}

#app-header > a > img {
    height: 70px;
    float: left;
    padding: 15px;
    padding-bottom: 0px;
}

#app-header > a > img:hover {
    filter: brightness(2);
}

#app-header h2 {
    font-size: 20pt;
    font-family: 'Times';
    font-weight: 200 !important;
    letter-spacing: 1px;
    position: absolute;
    top: -5px;
    display: inline-block;
}

#dash-logo > img {
    height: 30px !important;
}

#app-header > img {
    height: 36px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

#github-link {
    text-decoration: none;
    font-size: 12pt;
    font-family: sans-serif;
    color: white;
    border: solid 2px white;
    border-radius: 2px;
    padding: 2px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    position: relative;
    top: 15px;
    float: right;
    margin-right: 20px;
    margin-left: 0px;
}

#app-contents {
    top: 60px;
    width: 100%;
    position: absolute;
}

#user-guide {
    position: relative;
}

#user-guide h1 {
    font-size: 18pt;
    font-family: 'Times';
    margin-left: 20px;
}

#user-guide p {
    font-size: 12pt;
    font-family: 'Times';
    margin-left: 20px;
    margin-right: 20px;
}

#info-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    margin-left: 10px;
    gap: 2rem;
}

#general-info {
    font-size: 12pt;
    font-family: 'Times';
    margin-left: 10px;
    margin-right: 15px;
    padding: 0.75rem 1.25rem;
}

#general-info h4 {
    font-size: 14pt;
    font-family: 'Times';
    margin-left: 10px;
}

#general-info hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    border-top-color: #f1b0b7;
    border: 0;
    border-top: 1px solid;
}

#general-info p {
    font-size: 12pt;
    margin-left: 10px;
    margin-right: 10px;
}

#model-input {
    font-size: 12pt;
    font-family: 'Times';
    margin-left: 10px;
    margin-right: 15px;
    padding: 0.75rem 1.25rem;
}

#model-input h4 {
    font-size: 14pt;
    font-family: 'Times';
    margin-left: 10px;
}

#model-input hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    border-top-color: #9fcdff;
    border: 0;
    border-top: 1px solid;
}

#model-input p {
    font-size: 12pt;
    margin-left: 10px;
    margin-right: 10px;
}

#file-upload {
    font-size: 12pt;
    font-family: 'Times';
    margin-left: 10px;
    margin-right: 15px;
    padding: 0.75rem 1.25rem;
}

#file-upload h4 {
    font-size: 14pt;
    font-family: 'Times';
    margin-left: 10px;
}

#file-upload hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    border-top-color: #c8cbcf;
    border: 0;
    border-top: 1px solid;
}

#file-upload p {
    font-size: 12pt;
    margin-left: 10px;
    margin-right: 10px;
}

#model-output {
    font-size: 12pt;
    font-family: 'Times';
    margin-left: 10px;
    margin-right: 15px;
    padding: 0.75rem 1.25rem;
}

#model-output h4 {
    font-size: 14pt;
    font-family: 'Times';
    margin-left: 10px;
}

#model-output hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    border-top-color: #ffe8a1;
    border: 0;
    border-top: 1px solid;
}

#model-output p {
    font-size: 12pt;
    margin-left: 10px;
    margin-right: 10px;
}

#tabs-container {
    top: 20px;
    width: 100%;
    position: relative;
    margin: auto;
}

#container {
    top: 20px;
    width: 95%;
    position: relative;
    margin: auto;
}

#tab-input {
    height: 70px;
    font-weight: bold;
    font-size: 14pt;
    color: black;
    border: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#tab-upload {
    height: 70px;
    font-weight: bold;
    font-size: 14pt;
    color: black;
    border: 2px solid black;
    border-right: 1px solid black;
}

#tab-visualise {
    height: 70px;
    font-weight: bold;
    font-size: 14pt;
    color: black;
    border: 2px solid black;
    border-left: 1px solid black;
}

#tabs-content-input {
    font-size: 12pt;
    position: relative;
    top: 20px;
    width: 100%;
    padding-bottom: 50px;
}

#tabs-content-upload {
    font-size: 12pt;
    position: relative;
    top: 20px;
    width: 100%;
    padding-bottom: 50px;
}

#tabs-content-output {
    font-size: 12pt;
    position: relative;
    top: 20px;
    width: 100%;
    padding-bottom: 50px;
}

#card-row {
    display: flex;
    width: 100%;
}

#model-inputs-ref {
    margin-left: 150px;
    margin-top: 30px;
    font-size: 16pt;
    border: 2px solid black;
    width: 20%;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
}

#model-outputs-ref {
    margin-left: 150px;
    margin-top: 30px;
    font-size: 16pt;
    border: 2px solid black;
    width: 20%;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#card {
    display: inline-block;
    background: white;
    color: black;
    margin-top: 30px;
    border: 2px solid black;
    width: 100%;
    margin-left: 40px;
    margin-right: 30px;
}

#card-input {
    display: inline-block;
    background: white;
    color: black;
    width: 50%;
    margin-top: 2px;
    border: 2px solid black;
    margin-left: 330px;
}

#card-output {
    display: inline-block;
    background: white;
    color: black;
    width: 65%;
    margin-top: 2px;
    border: 2px solid black;
    margin-left: 250px;
}

#card-header {
    font-weight: bold;
    text-align: center;
    font-size: 18pt;
    background: rgb(228, 228, 228);
    padding: 0.75rem 1.25rem;
}

#card-header-input {
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
    background: rgb(228, 228, 228);
    padding: 0.75rem 1.25rem;
}

#card-header-output {
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
    background: rgb(228, 228, 228);
    padding: 0.75rem 1.25rem;
}

#card-body {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-size: 12pt;
}

#input-parameters {
    margin-bottom: 10px;
}

#input-parameters p {
    font-size: 10pt;
    margin-top: -40px;
}

#input-header {
    font-size: 16pt;
}

#card-body-input {
    margin-top: -10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-size: 12pt;
}

#card-body-input hr {
    margin-left: -15px;
    margin-right: -15px;
    border-top-color: black;
    border: 0;
    border-top: 1px solid;
}

#model-selection {
    margin-top: -30px;
    display: flex;
    align-items: center;
}

#select-model {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#model-type-dropdown {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#feature-descriptor {
    margin-top: -40px;
    display: flex;
    align-items: center;
}

#select-descriptor {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#feature-descriptor-dropdown {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#kmer-descriptor {
    margin-top: -40px;
    display: flex;
    align-items: center;
}

#select-kmer {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#kmer-size-dropdown {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#normalization-descriptor {
    margin-top: -40px;
    display: flex;
    align-items: center;
}

#select-normalization {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#feature-normalization-dropdown {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#select-feature {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#output-statistics {
    margin-top: -30px;
}

#select-statistics {
    font-weight: normal;
    font-size: 12pt;
    width: 100%;
}

#output-statistics-dropdown {
    margin-top: -20px;
    width: 80%;
    font-size: 12pt;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 15px;
}

#algorithm-descriptor {
    margin-top: -30px;
    display: flex;
    align-items: center;
}

#select-algorithm {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#feature-selection-dropdown {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#feature-number {
    margin-top: -40px;
    display: flex;
    align-items: center;
}

#select-feature-number {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#feature-number-input {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#use-unsupervised {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#use-cross-validation {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#use-hyper-opt {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#dimension-number {
    margin-top: -40px;
    display: flex;
    align-items: center;
}

#select-dimension-number {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#dimension-number-input {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#dimension-algorithm-descriptor {
    margin-top: -30px;
    display: flex;
    align-items: center;
}

#select-dimension-algorithm {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#dimension-reduction-dropdown {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#loop-number {
    margin-top: -40px;
    display: flex;
    align-items: center;
}

#select-iteration-number {
    font-weight: normal;
    font-size: 12pt;
    width: 40%;
    margin-right: 10px;
}

#iteration-number-input {
    width: 60%;
    font-size: 12pt;
    text-align: center;
}

#button {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    color: black;
    background: white;
    padding: 0.75rem 1.25rem;
    float: right;
    margin-right: 150px;
    display: inline-block;
    margin-top: 70px;
}

#button:hover {
    color: white;
    background: grey;
}

#box-text {
    font-size: 14pt;
    margin-top: 30px;
    text-align: center;
}

#app-footer {
    height: 50px !important;
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#app-footer > a > img {
    height: 40px !important;
    float: left;
    margin-left: 200px;
}

#app-footer > a > img:hover {
    filter: brightness(2);
}

#app-footer h3 {
    font-size: 10pt;
    font-family: 'Times';
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    float: right;
    text-align: center;
    margin-right: 200px;
}
